:root {
    --glow-text: 0px 0px 10px cyan, 0px 0px 20px cyan, 0px 0px 40px cyan, 0px 0px 80px cyan;

    --border-link: 2px solid rgba(17, 108, 243, 0.18);

    --box-shadow-menu: 0px 0px 30px rgba(8, 20, 122, 0.37);

    --hover-focus-color: rgb(233, 110, 10);

    --hover-focus-background-color: white;

    --visited-color: rgb(233, 110, 10);

    --a-color: rgba(233, 154, 9, 0.9);

    --body-background-color: rgb(56, 8, 133);

    /* --logo-color: rgba(180, 105, 200, 0.9);

    --logo-textshadou: 2px 2px 1px rgba(226, 105, 230, 0.8); */

    --text-color: rgb(11, 6, 250);

    --color-background-a: rgba(245, 120, 47, 1);

    --text-shadow-hover-a: 0px 0px 10px rgba(243, 8, 23, 0.8), 0px 0px 20px rgba(243, 8, 23, 0.8),
        0px 0px 40px rgba(243, 8, 23, 0.8), 0px 0px 80px rgba(243, 8, 23, 0.8);
}
